{% extends "base.html" %}
{% block title %}Contato{% endblock %}
{% block content %}
   
    <p>Entre em contato conosco!</p>
    <p>Telefone: (71) 9323-7776</p>
    <p>Email:
        <a href="mailto:contato@loja.com">contato@loja.com</a>
    </p>
    <p>Endereço: Rua Silveira Martins, 123, Salvador, Bahia, 41200-777</p>
    <p>Estamos disponíveis para responder suas perguntas e fornecer suporte. Não hesite em entrar
    em contato conosco por telefone, email ou visitando nossa loja física. Agradecemos por escolher nossa loja virtual e esperamos poder atendê-lo em breve!</p>

{% endblock %}

<!-- DESCOBRIR O PQ NAO ESTA FUNCIONANDO, NÃO ESTÁ APARECENDO  O CONTEÚDO NA PÁGINA -->
