{% extends "base.html" %}
{% block title %}Contato{% endblock %}
{% block content %}
   
    <section class="contato">
    <h1>Fale Conosco</h1>

    <p>
        Estamos aqui para te ouvir, te ajudar e tornar sua experiência ainda mais especial.
    </p>

    <div class="info-contato">
        <p><strong>Email:</strong> contato@victria.com</p>
        <p><strong>WhatsApp:</strong> (71) 99257-3029</p>
        <p><strong>Instagram:</strong> @UseVictria's</p>
    </div>

    <p class="mensagem-final">
        Nosso atendimento é feito com carinho, atenção e dedicação —
        porque cada cliente é única para nós.
    </p>
</section>
{% endblock %}

