{% extends "base.html" %}

{% block content %}

<section class="banner">
    <div class="banner-texto">
        <h1>Nova Coleção</h1>
        <p>Elegância que combina com você</p>
        <a href="{% url 'lojaapp:produtos' %}" class="btn-banner">Explorar Agora</a>
    </div>
</section>


<section class="destaque">

    <h2 class="titulo-home">Destaques</h2>

    <div class="grid-produtos">

        {% for produto in produtos %}

        <div class="produto-card">

            {% if produto.image %}
                <div class="img-container">
                  <img src="{{ produto.image.url }}">
                </div>
            {% endif %}

            <h3>{{ produto.titulo }}</h3>
            <p>R$ {{ produto.preco_mercado }}</p>

            <a href="{% url 'lojaapp:produto_detalhe' produto.id %}" class="btn editar">
               Ver
             </a>

        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}

 