{% extends "base.html" %}

{% block content %}

<div class="produto-detalhe">

    <div class="imagem">
        {% if produto.image %}
            <img src="{{ produto.image.url }}">
        {% endif %}
    </div>

    <div class="info">

        <h1>{{ produto.titulo }}</h1>

        <p class="descricao">
            {{ produto.descricao }}
        </p>

        <p class="preco">
            R$ {{ produto.preco_mercado }}
        </p>

        <a class="btn-comprar" href="{% url 'lojaapp:add_carrinho' produto.id %}">
            Comprar
        </a>

    </div>

</div>

{% endblock %}