{% extends "base.html" %}

{% block content %}

<h1 style="text-align:center; margin-top:30px;">Produtos</h1>

<div class="grid-produtos">

{% for produto in produtos %}

<div class="produto-card">

    <div class="img-container">
        {% if produto.image %}
            <img src="{{ produto.image.url }}">
        {% else %}
            <img src="https://via.placeholder.com/300x300">
        {% endif %}
    </div>

    <div class="info-produto">
        <h3>{{ produto.titulo }}</h3>

        <p class="preco">R$ {{ produto.preco_mercado }}</p>

        <div class="botoes">
            <a href="{% url 'lojaapp:produto_detalhe' produto.id %}" class="btn editar">
                Ver
            </a>

            <a href="{% url 'lojaapp:add_carrinho' produto.id %}" class="btn editar">
                Carrinho
            </a>
        </div>

        {% if request.user.is_staff %}
        <div class="botoes">
            <a href="{% url 'lojaapp:editar_produto' produto.id %}" class="btn editar">
                Editar
            </a>

            <a href="{% url 'lojaapp:deletar_produto' produto.id %}" class="btn excluir">
                Excluir
            </a>
        </div>
        {% endif %}
    </div>

</div>

{% endfor %}

</div>

{% endblock %}