{% extends "base.html" %}
{% block title %}Sobre{% endblock %}
{% block content %}
    <p>Somos uma empresa de comércio eletrônico dedicada a oferecer uma experiência de compra excepcional aos nossos clientes. Fundada em [ano de fundação], nossa missão é fornecer produtos de alta qualidade, atendimento ao cliente excepcional e uma plataforma de compras fácil de usar.</p>
    <p>Na nossa loja virtual, você encontrará uma ampla variedade de produtos, desde eletrônicos e moda até itens para casa e lazer. Trabalhamos com fornecedores confiáveis para garantir que nossos clientes recebam produtos autênticos e de alta qualidade.</p>
    <p>Nosso compromisso com a satisfação do cliente é o que nos diferencia. Nossa equipe de atendimento ao cliente está sempre pronta para ajudar, seja para responder a perguntas, resolver problemas ou fornecer suporte pós-venda. Valorizamos a opinião dos nossos clientes e estamos constantemente buscando maneiras de melhorar nossos serviços.</p>
    <p>Agradecemos por escolher nossa loja virtual e esperamos que você tenha uma experiência de compra agradável conosco. Se tiver alguma dúvida ou precisar de assistência, não hesite em entrar em contato conosco. Estamos aqui para ajudar!</p>
    
{% endblock %}

<!-- PERSONALIZAR AS INFORMAÇÕES -->
