{% extends "base.html" %}
{% block title %}Sobre{% endblock %}
{% block content %}

   <section class="sobre">

<div class="container-sobre">

    <h1>Mais do que moda, uma expressão de quem você é</h1>

    <p class="frase-impacto">
        Acreditamos que toda mulher carrega uma beleza única — e merece se sentir confiante todos os dias.
    </p>

    <p>
        Nossa história começou com um propósito simples, mas poderoso:
        criar um espaço onde estilo, elegância e autenticidade caminham juntos.
    </p>

    <p>
        Em um mundo onde tudo passa rápido, escolhemos valorizar o que realmente importa —
        o cuidado nos detalhes, a leveza nas escolhas e a força que existe em ser quem você é.
    </p>

    <p>
        Cada peça da nossa loja é pensada para acompanhar mulheres reais,
        em suas conquistas, seus momentos especiais e também nos dias mais comuns,
        que merecem ser vividos com beleza e confiança.
    </p>

    <p>
        Não seguimos apenas tendências. Seguimos histórias.
        Histórias como a sua.
    </p>

    <p>
        Aqui, você não encontra apenas roupas.
        Você encontra identidade, autoestima e a liberdade de se expressar.
    </p>

    <h2 class="assinatura">Seja quem você nasceu para ser 💖</h2>

</div>


</section>

{% endblock %}


